<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zesty Zomato Menu</title>
    <style>
        a:hover{
            color: red;
        }
    </style>
</head>
<body>
    {% block content %}
    <div>

        <h1>Menu</h1>
        <ul>
            {% for dish_id, dish in menu.items %}
                <li>
                    {{ dish.name }} - ${{ dish.price }}
                    {% if dish.available %}
                        <span class="available">Available</span>
                    {% else %}
                        <span class="unavailable">Not Available</span>
                    {% endif %}
                    <a style="margin-left: 1vw; text-decoration: none;" href="{% url 'remove_dish' dish_id %}">Remove</a>
                    <a style="margin-left: 1vw; text-decoration: none;" href="{% url 'update_availability' dish_id %}">Update Availability</a>
                    <!-- Add more anchor tags with different actions as needed -->
                </li>
            {% endfor %}
        </ul>
        <h1>Orders</h1>
        <ul>
            {% for order_id, order_data in orders.items %}
                <li>
                    Order ID: {{ order_id }}<br>
                    Customer: {{ order_data.order.customer_name }}<br>
                    Dishes: {{ order_data.order.dishes|join:", " }}<br>
                    Status: {{ order_data.status }} ---
                    <a style="text-decoration: none; color: blue;" href="{% url 'update_status' order_id %}">Mark as Done</a>
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'take_order' %}">Take New Order</a>
        <a style="padding-left: 2vh;" href="{% url 'add_dish' %}">Add New Dish</a>
    </div>
    {% endblock %}
</body>
</html>